.seller-sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.list {
    float: left;
  }
  
.button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.button:hover {
    background-color: #111;
  }

.active {
    background-color: #04AA6D;
  }

  .center {
    position: absolute;
    right: 500px;
    width: 300px;
    padding: 10px;
  }

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }
.text-white{
    color:white;
}
.text-black{
    color:rgb(0, 0, 0);
}
.text-green{
    color:rgb(13, 126, 0);
}


.footer-basic {
    padding:40px 0;
    background-color:#9a9a9a;
    text-decoration:solid;
    color:#ffffff;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  hr{
    height:3px;
    border-width:2;
    color:gray;
    background-color:gray;
  }